
<!-- Nom_art
-- Nom_alb
-- Estrellas-->
{% extends 'base.html' %}{% block content %}
<div class="p-3 mb-2 bg-success text-white">
    <h1><center> MUSICA </center></h1>
</div>
<br/>

<h5> Top 100 Álbumes Semanal </h5>
<div class="card-group container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/60/Bad_Bunny_-_Un_Verano_Sin_Ti.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">BAD BUNNY</h5>
                <p class="card-text">Un Verano Sin Ti</p>
                <p class="card-text"><small class="text-muted"> 4 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://images.genius.com/4d31ad179cd2b577f133cbb0287af431.1000x1000x1.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    
                <h5 class="card-title"> FEID</h5>
                <p class="card-text">Feliz Cumpleaños Ferxxo Te Pirateamos El Album</p>
                <p class="card-text"><small class="text-muted"> 2 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://imagenes.elpais.com/resizer/0tykHDahuKSm0dn04kiR50tZaV0=/980x980/filters:focal(725x445:735x455)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/QCZU2D2V35EQXGD5FY2IHB5IK4.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    
                <h5 class="card-title"> ROSALIA </h5>
                <p class="card-text">Motomami </p>
                <p class="card-text"><small class="text-muted"> 4 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<h5> Top 100 Canciones Semanal </h5>
<div class="card-group container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://i.scdn.co/image/ab67616d0000b2731630dd349221a35ce03a0ccf" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">BIZARRAP/QUEVEDO</h5>
                <p class="card-text">QUEVEDO: BZRP MUSIC SESSIONS, VOL. 52</p>
                <p class="card-text"><small class="text-muted"> 3 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://is1-ssl.mzstatic.com/image/thumb/Music112/v4/bf/34/d6/bf34d6a1-7b68-5fdc-1fa3-e592485029fe/5054197303463.jpg/600x600bf-60.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    
                <h5 class="card-title"> QUEVEDO </h5>
                <p class="card-text"> Vista Al Mar </p>
                <p class="card-text"><small class="text-muted"> 2 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.lahiguera.net/musicalia/artistas/manuel_turizo/disco/11957/tema/27645/manuel_turizo_la_bachata-portada.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">MANUEL TURIZO</h5>
                <p class="card-text">La Bachata</p>
                <p class="card-text"><small class="text-muted"> 3 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<h5> Top 50 Radios Semanal </h5>
<div class="card-group container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Rosal%C3%ADa_-_Despech%C3%A1.png/220px-Rosal%C3%ADa_-_Despech%C3%A1.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title"> ROSALIA </h5>
                <p class="card-text"> Despechá </p>
                <p class="card-text"><small class="text-muted"> 4 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.lahiguera.net/musicalia/artistas/varios/disco/0/tema/27758/las_12-portada.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    
                <h5 class="card-title"> ANA MENA, BELINDA </h5>
                <p class="card-text"> Las 12 </p>
                <p class="card-text"><small class="text-muted"> 4 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://megaboxmusica.com/wp-content/uploads/2022/06/image002.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    
                <h5 class="card-title"> SANGIOVANNI, AITANA </h5>
                <p class="card-text"> mariposas </p>
                <p class="card-text"><small class="text-muted"> 4 Estrellas </small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}